@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}
span{
    color: violet;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
}
.content{
   position: relative; 
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #fff;
    font-size: 62px;
    font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
}
.content .textbox h2 span{
    font-size: 102px;
}
.content .textbox p{
    color: #fff;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: violet;
    border-radius: 4rem;
    box-shadow: 0 0 2rem violet;
    font-size: 1.8rem;
    color: #12022c;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    box-shadow: none;
}
.content .imgbox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}
.content .imgbox img{
    max-width: 260px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-25px);
}
.thumb li img{
    max-width: 50px;
}
.social-media a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: solid .2rem aliceblue;
    border-radius: 50%;
    font-size: 2rem;
    color: aliceblue;
    margin: 15px 5px;
    padding: 15px 10px;
    transition: .5s;
    text-decoration: none;
}
.social-media a:hover{
    background: aliceblue;
    color: aqua;
    box-shadow: 0 0 1rem aqua;
}
.footer{
    background-color: black;
    padding: 16px;
}
.footer p{
    color: yellow;
    text-align: center;
}